<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/book.css">
    <title>Книга</title>
</head>
<body>

<form th:action="@{/book(id=${book.id})}" th:method="get" th:object="${book}" action="book.html">
    <div class="book_background">
        <div class="button_area">
            <form th:action="@{/templates/book}" method="get" action="books.html">
                <input class="book_button_top" type="submit" value="назад">
            </form>
            <form th:action="@{/book/{id}/edit(id=${book.id})}" th:method="get" action="edit.html">
                <input class="book_button_top" type="submit" value="Редактировать">
            </form>
        </div>
        <div class="h3_block">
            <h3 th:text="*{author.name}">А.С. Пушкин</h3>
            <h3 th:text="*{title}">Руслан и Людмила</h3>
        </div>
        <dl class="center">
            <dd class="list" th:each="genre : ${book.genres}" th:text="${genre.type}">Сказка</dd>
        </dl>
        <hr>
        <p class="description" th:text="*{description}">описание</p>
        <hr>
        <dl>
            <dt class="book_text">Комментарии:</dt>
            <dd th:switch="${#lists.size(book.comments)}">
                <div class="com" th:case="0">К этой книге пока нет коментариев...</div>
                <div th:case="*">
                    <div th:each="comment :*{comments}">
                        <p class="com" th:text="${comment.message}"></p>
                    </div>
                </div>
            </dd>
        </dl>
        <div>
            <form class="comment_form" th:action="@{/{bookId}/comment/create(bookId=${book.id})}" th:method="post">
                <label for="comment-input"></label>
                <textarea rows="10" cols="100" placeholder="Новый коментарий" id="comment-input"
                          name="message">
                    [[${message}]]
                </textarea>
                <div class="book_button_down">
                    <button type="submit">Добавить комментарий</button>
                </div>
            </form>
        </div>
    </div>
</form>
</body>
</html>
